body,
html {
    margin: 0;
}

h2,
h3 {
    width: fit-content;
    line-height: 2em;
    margin: auto;
}

h3 {
    line-height: 1em;
    margin-bottom: 1vh;
}

.gachiStyle {
    color: white;
    background-image: url("https://64.media.tumblr.com/4cf6c95ce055b63ef84ec1b0acd3a13d/99b31d881b9f2b9c-7a/s400x600/205d0ac974dd57790e96c77bbe524217ff94f596.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-big {
    width: 98vw;
    height: 90vh;
    position: absolute;
    margin: 0 1vw 0 1vw;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}

.fill-white {
    background-color: white;
}

.clear-background {
    background-color: none;
}