*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    z-index: 1;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    cursor: pointer;
}

header{
    width: 100%;
    height: 7rem;
    background-color: #716F81;
    display: flex;
    align-content: center;
}
h1{
    color: #F2E1C1;
    margin: auto;
    font-size: 2em;
    text-align: center;
}
main{
    width: 100%;
    height: 85%;
    position: relative;
    background-color: #F2E1C1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#sidebar{
    width: 20%;
    min-height: 98%;
    background-color: #B97A95;
    margin: .5rem 0 auto .5rem;
    opacity: 0.8;
    position: absolute;
    z-index: 2;
}

#sidebar ul li a{
    text-decoration: none;
    color: #F2E1C1;
    width: 100%;
    height: 100%;
    line-height: 1.8em;
    font-size: 1.5em;
    text-align: center;
    display: block;
}

#sidebar ul li{
    width: 100%;
    height: 6%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar ul{
    width: 100%;
    height: 100%;
}

#sidebar ul li a:hover{
    background-color: #F2E1C1;
    color: #716F81;
}

#balls-animation{
    width: 100%;
    height: 85vh;

}

.start-btn{
    width: 30%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #B97A95;
    color: white;
    transition: all .2s linear;
}

.start-btn:hover{
    scale: 0.98;
}

footer{
    width: 100%;
    height: 6rem;
    background-color: #716F81;
    display: flex;
    align-content: center;
}

#footer-info{
    color: #F2E1C1;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
}

.ball{
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 30px;
    z-index: 0;
    transition: filter .5s linear;
}

.ball:hover{
    filter: invert(0.8);
    cursor: pointer;
}

.add-smile::after{
    content: ':)';
}

#welcome-page{
    width: 100%;
    height: 100%;
}