* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    z-index: 1;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    cursor: pointer;
}

header {
    width: 100%;
    height: 7rem;
    background-color: #716F81;
    display: flex;
    align-content: center;
}

h1 {
    color: #F2E1C1;
    margin: auto;
    font-size: 1.8rem;
    text-align: center;
}

main {
    width: 100%;
    height: 85%;
    position: relative;
    background-color: #F2E1C1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sidebar {
    width: 20%;
    height: 83vh;
    background-color: #B97A95;
    margin: .5rem 0 auto .5rem;
    opacity: 0.8;
    position: absolute;
    top: 0;
    z-index: 2;
}

#sidebar ul li a {
    text-decoration: none;
    color: #F2E1C1;
    width: 100%;
    height: 100%;
    line-height: 1.8em;
    font-size: 1.5em;
    text-align: center;
    display: block;
}

#sidebar ul li {
    width: 100%;
    height: 6%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar ul {
    width: 100%;
    height: 100%;
}

#sidebar ul li a:hover {
    background-color: #F2E1C1;
    color: #716F81;
}

#balls-animation {
    width: 100%;
    height: 85vh;
}

.start-btn {
    width: 30%;
    padding: .6rem;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #B97A95;
    color: white;
    transition: all .2s linear;
}

.start-btn:hover {
    scale: 0.98;
}

.animation-panel {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 2rem;
    font-size: 1.2rem;
    padding: 0.6rem;
    gap: 1rem;
    color: #B97A95;
}

#balls-counter-label {
    margin-right: .5rem;
}

.limited {
    color: rgb(144, 32, 32);
    font-weight: 700;
    transition: animation .3s;
    animation: blinking 1s 3 ease-in-out;
}

@keyframes blinking {
    from {
        color: rgb(143, 17, 17);
    }

    to {
        color: #F2E1C1;
    }
}

#balls-clear:hover,
#balls-remove:hover {
    color: rgb(144, 32, 32);
    cursor: pointer;
}

.invisible {
    display: none;
}

footer {
    width: 100%;
    height: 6rem;
    background-color: #716F81;
    display: flex;
    align-content: center;
}

#footer-info {
    color: #F2E1C1;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
}

.ball {
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 32px;
    z-index: 0;
    transition: filter .5s linear;
}

.ball:hover {
    filter: invert(0.8);
    cursor: pointer;
}

.white-text {
    color: white;
    font-size: 1.2rem;
}

#welcome-page {
    width: 100%;
    height: 100%;
}

#color-game,
#picture-game {
    height: 85vh;
    width: 80%;
    margin-left: 20%;
    padding: 1rem;
    flex-direction: column;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

#name-link {
    text-decoration: none;
    cursor: pointer;
}

#name-link:visited {
    color: inherit;
}


#name-link:hover {
    color: white;
}